.cards-list {
  display: grid;
  grid-template-columns: 270px;
  row-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(2, 320px);
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(5, 320px);
  }
}

.cards-list__item--fade-in {
  animation: fadeIn ease-out 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main-list-card__image {
  width: 270px;
  height: 185px;
  object-fit: contain;

  @media (min-width: @tablet-width) {
    width: 320px;
  }
}
