.card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 25px 24px;
  padding-bottom: 35px;
}

.card__description,
.card__declaration {
  white-space: pre-line;
}
