.main-slider-section {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1920px;
    margin: 0 auto;
  }
}

.main-slider__news-list {
  .mixin-list-normalize();
}

.main-slider-section__pagination-list {
  .mixin-list-normalize();
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    margin-left: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 60px;
  }
}
