.main-header__wrapper {
  width: 270px;
  margin: 0 auto;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    width: 688px;
    padding: 15px 40px;
  }

  @media (min-width: @desktop-width) {
    width: 1720px;
    margin: 0;
    justify-content: flex-start;
    padding-bottom: 28px;
    padding-right: 100px;
    padding-left: 100px;
  }
}

.main-header__logo {
  display: inline-block;
  order: 2;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    order: 1;
    margin-right: 76px;
  }
}

.main-header__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 31px;
  order: 1;
  cursor: pointer;
  background-color: @primary-background-color;
  border: none;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__navigation {
  @media (min-width: @desktop-width) {
    width: 900px;
    order: 2;
    margin-right: auto;
  }
}

.main-header__buttons-wrapper {
  order: 3;
  display: none;

  @media (min-width: @tablet-width) {
    width: 294px;
  }

  @media (min-width: @desktop-width) {
    width: 398px;
  }
}

.main-header__navigation--close {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}
