.pagination-list {
  display: flex;

  @media (max-width: @mobile-width-only) {
    justify-content: space-between;
  }

  @media (min-width: @tablet-width) {
    flex-direction: column;
    direction: rtl;
  }
}

.pagination-list__item:not(:last-child) {
  @media (min-width: @tablet-width) {
    margin-bottom: 15px;
  }
}

.pagination-list__link span {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline-block;
  }
}

.pagination-list__link {
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  text-transform: uppercase;
  color: fade(@primary-color, 50%);

  &::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    margin-top: -23px;
    border-radius: 50%;
    background-color: @second-background-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
