.request-form {
  display: flex;
  font-family: inherit;
  background-color: @primary-background-color;
}

.request-form__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 86px;
  padding-bottom: 136px;
  transform: skewX(5deg);

  @media (min-width: @tablet-width) {
    width: auto;
    padding-right: 49px;
    padding-left: 67px;
  }

  @media (min-width: @desktop-width) {
    width: 724px;
    padding-right: 49px;
    padding-left: 130px;
    margin-left: auto;
  }
}

.request-form__background-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: @seven-background-color;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.request-form__background-img {
  object-fit: cover;
  transform: skewX(5deg);
  background-color: @seven-background-color;
}

.request-form__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @desktop-width) {
    font-size: 42px;
    line-height: 51px;
  }
}

.request-form__close-button {
  position: absolute;

  @media (min-width: @tablet-width) {
    right: 51px;
    top: 65px;
    width: 70px;
    height: 60px;
  }

  @media (min-width: @desktop-width) {
    top: 76px;
    width: 86px;
    height: 70px;
  }
}

.request-form__description {
  @media (min-width: @tablet-width) {
    margin-bottom: 50px;
  }
}

.request-form__input-wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.request-form__inner-wrapper {
  display: flex;
}

.request-form__user-agreement {
  margin: 0;
  white-space: pre-line;
  color: fade(@primary-color, 30%);

  & a {
    color: inherit;
  }

  & a:hover {
    color: @primary-color;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin-left: 48px;
  }
}
