.second-style-button {
  padding: 16px 79px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: @primary-color;
  text-decoration: none;
  text-align: center;
  background-color: @fourth-background-color;

  &:hover {
    background-color: @five-background-color;
    color: @second-color;
    transition: color, background-color 2s ease-out;
  }

  @media (max-width: @mobile-width-only) {
    padding-right: 52px;
    padding-left: 52px;
  }
}
