.site-body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: @primary-color;
}

.site-body__header {
  display: flex;
  justify-content: center;
}

.site-body__main {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}
