.site-body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: @primary-color;
}

.site-body__header {
  display: flex;
  justify-content: center;
}

.site-body__main {
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}


.site-body__modal-wrapper {
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

.site-body__modal-wrapper--closed {
  display: none;
}

.site-body__modal-wrapper--opened {
  display: flex;
}

.site-body__modal-wrapper--fade-in {
  animation: fadeIn ease-out 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.site-body__modal-wrapper--fade-out {
  animation: fadeOut ease-out 1.5s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.site-body__request-form {
  position: relative;

  @media (min-width: @tablet-width) {
    width: 650px;
    transform: skewX(-5deg);
  }

  @media (min-width: @desktop-width) {
    width: 1677px;
  }
}
